@model List<ROSys.Model.FoodDescription>
@{
    ViewBag.Title = "StartOrder";
}

<style>
    .list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8;
}
</style>
@section scripts{



    <script>
        var selectedFood = undefined;
        var tableNo = @ViewBag.TableNo ;
        $(document).ready(function () {

            $('.selectFood').click(function (a, c) {

                selectedFood = $(a.currentTarget).data('id');
                console.log(selectedFood);
                $('#myModalLabel').html($(a.currentTarget).data('title'))
                $('#myModal').modal('show');
            })
            $('#btnSelectFood').click(function (a, c) {
                //selectedFood
                var amount = $('#foodAmount').val();
                $.ajax(
                    {
                        url: '@Url.Action("SelectFood")',
                        type:'Post',
                        data: { amount: amount, foodId: selectedFood , tableNo:tableNo}
                        , success: function (data) {
                            console.log(data);
                            $('#foodAmount').val("");
                            $('#myModal').modal('hide');
                            updateOrderDetails(data);
                        }
                    }
                    )
            });
        });
        function updateOrderDetails(d){
            var div= $('#selectedFoodsList');
            var result = "";
            div.html("");
            for(var i = 0; i<d.length;i++){
                var desc = d[i].Description;

                //<li class="list-group-item">Cras justo odio</li>
                //Cras justo odio</li>

                result += '<li class="list-group-item list-group-item-success">' + desc.Name+ " ("+d[i].Count+" tane) &nbsp;&nbsp;&nbsp;&nbsp; - "+ desc.Price+" TL"+ '</li>' //+ " ("+desc.Description+") " + desc.Price + " TL   ("+d[i].Count+" tane)<br/>";
            }
            div.html(result);
        }
    </script>
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <label>Amount : </label>
                <input type="number" id="foodAmount" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSelectFood">Save changes</button>
            </div>
        </div>
    </div>
</div>


<ul class="list-group"></ul>

<h3>Available Foods :</h3>

<ul class="list-group">

    @foreach (var fd in Model)
    {
        <a data-id="@fd.Id" href="#" class="selectFood" data-title="@fd.Name">
            <li class="list-group-item">
                <span class="badge">@fd.Price TL</span>
                @fd.Name (@fd.Description)

            </li>
        </a>

    }
</ul>
<hr />
<h3>Selected Foods:</h3>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group" id="selectedFoodsList">
            <li class="list-group-item list-group-item-success">NOTHING</li>
        </ul>
    </div>
</div>

<a href="@Url.Action("EndOrder", new { tableNo = ViewBag.TableNo })" class="btn btn-info  btn-block">End Order</a>
    &nbsp;


